
#slider{

  width:97vw;
  height:60vh;
  @media (max-width: 740px){
    height:80vh;
  }
  overflow-y: auto;
  overflow-x: auto;



#home-detail{
   
    padding:10px 20px;
 
    color: aliceblue;

   table{
       width:auto;
       height:auto;
       border-radius: 7px;
       border: 2px solid #ffd640;
        thead{
            tr{
                th{
                    background-image: radial-gradient(#11b928,transparent);
                    input{
                          color:rgb(78, 75, 75);
                          background-image: radial-gradient(#ffa900, transparent);
                    }
                    input::placeholder {
                        text-align: center;
                    }
                    height:80px;
                  
                }
            }
        }

        tbody{
            tr{
                td{
                    text-indent: 10px;
                    padding: 5px;
                }
            }
        }
   }


}
  
}

#slider::-webkit-scrollbar {
    width: 15px; /* width of the scrollbar */
  }
  
  /* Track (background) of the scrollbar */
  #slider::-webkit-scrollbar-track {
    width: 15px; 
    background: #fff; /* color of the track */
  }
  
  /* Handle (thumb) of the scrollbar */
  #slider::-webkit-scrollbar-thumb {
    background-color: #6e6868; /* color of the handle */
    border-radius: 5px; /* roundness of the handle */
  }